@import "../../assets//variables.scss";
.button {
  background-color: $accent-color;
  padding: 10px 30px;
  border-radius: 50px;
  border: none;
  color: $main-color;
  font-size: 12px;
  font-weight: 900;
  &.readMoreButton {
    position: absolute;
    bottom: 70px;
  }
}
