@import "../../assets/variables.scss";

.navContainer {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.buttonsWrapper {
  display: flex;
}
.buttonsWrapper button {
  padding: 9px 14px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 900;
  border: none;
  &:first-child {
    margin-right: 10px;
  }
}
.select {
  background-color: transparent;
  border: none;
  outline: none;
  color: transparent;
}
.page {
  font-size: 12px;
  font-weight: 900;
  color: $white-color;
}
.wrapperSelect {
  position: relative;
}
.label {
  position: absolute;
  top: 2px;
  left: 20%;
  width: max-content;
  cursor: pointer;
  font-size: 12px;
  font-weight: 900;
  color: $white-color;
}

.separatorLong {
  margin: 0 20px;
  width: 70%;
  height: 2px;
  background-color: $grey-color;
}
.separatorMedium {
  margin: 0 0 0 20px;
  width: 7%;
  height: 2px;
  background-color: $grey-color;
}
.separatorShort {
  margin: 0 0 0 20px;
  width: 5%;
  height: 2px;
  background-color: $grey-color;
}
