@import "../../assets/variables.scss";

.navContainer {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.buttonsWrapper {
  display: flex;
}
.buttonsWrapper button {
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 900;
  border: none;
  &:first-child {
    margin-right: 10px;
  }
}
.page {
  color: $white-color;
}
.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #fff;
  font-size: 1.2em;
  border: none;
  outline: none;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  padding: 12px 20px;
  border-radius: 10px;
}
