@import "../../assets/variables.scss";
.section {
  padding: 30px 0;
  background-color: $main-color;
  @media screen and (min-width: $tablet) {
    padding: 70px 0;
  }
}
.container {
  width: 100vw;

  @media screen and (min-width: $mobile) and (max-width: $mobile-max) {
    min-width: $mobile;
    padding: 0 50px;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    margin: 0 auto;
    padding: 0 75px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin: 0;
    padding: 0;
    width: $desktop;
  }
  @media screen and (min-width: $desktop-max) {
    width: $desktop-max;
  }
}
.image {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
    max-width: 500px;
    height: auto;
  }
  @media screen and (min-width: $desktop-max) {
    display: block;
    max-width: 600px;
    height: auto;
  }
}
.wrapperText {
  @media screen and (min-width: $desktop) {
    width: 400px;
    margin-left: 80px;
  }
  @media screen and (min-width: $desktop-max) {
    width: 100%;
    margin-left: 120px;
    padding-right: 50px;
  }
}
.title {
  margin-bottom: 50px;
  text-transform: capitalize;
  font-size: 48px;
  font-weight: 900;
  color: $white-color;
}
.subtitle {
  margin-bottom: 50px;
  color: $white-color;
  font-weight: 100;
  font-size: 14px;
  font-style: oblique;

  @media screen and (min-width: $desktop-max) {
    font-size: 16px;
  }
}
.text {
  margin-bottom: 80px;
  color: $white-color;
  font-size: 14px;
  @media screen and (min-width: $desktop) {
    width: 350px;
  }
  @media screen and (min-width: $desktop-max) {
    width: 400px;
  }
}
